.productView {
  display: flex;
  justify-content: center;
  /** width: 60%; */
  margin: 0 auto;
  margin-top: 100px;
  max-width: 1200px;
  background: linear-gradient(180deg, #fefefe 0, #f7f7f7 100%);
  margin-bottom: 100px;
}

.leftViewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border-right: 0.0625rem solid #d8d8d8;
}

.leftViewMainImage {
  max-width: 80%;
  height: auto;
  margin-bottom: 30px;
}

.smallImagePreviewContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
}

.smallImagePreview {
  max-width: 80px;
  margin: 15px;
  cursor: pointer;
}

.inactiveImagePreview:hover {
  opacity: 0.6;
}

.activeImagePreview {
  border: 1px solid black;
  cursor: auto;
}

.rightViewContainer {
  width: 50%;
  padding-left: 30px;
}

.rightViewtopContainer {
}

.rightViewtitle {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-family: Monserrat, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #4a4a4a;
  line-height: 1.2;
}

.rightViewQty {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-family: Merriweather, Arial, Helvetica, sans-serif;
  font-size: 22.5px;
  font-weight: 700;
  color: #69727b;
}

.rightReviewContainer {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.rightViewReviewCount {
  padding-left: 10px;
  font-family: Merriweather, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.rightViewTaxIncluded {
  font-size: 1.1rem;
  font-family: Merriweather, Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #69727b;
  padding-top: 5px;
}

.variantQuantitySizeContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 2rem;
}

.variantQuantityLeft {
  display: flex;
  flex-direction: column;
  flex-basis: 90%;
  margin-right: 10px;
}

.variantQuantityLeft,
.sizeQuantityRight label {
  color: #3d4246;
  font-family: Merriweather, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.selectSize {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  border-bottom-color: rgb(148, 148, 148);
  border-bottom-style: solid;
  border-bottom-width: 1.33333px;
  padding: 8px 28px 8px 15px;
  line-height: 1.2;
  border: 1px solid #949494;
}

.sizeQuantityRight {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  margin-right: 10px;
}

.buyButtonContainer {
  margin-top: 20px;
  width: 100%;
}

.addToCart {
  background-color: white;
  color: #388087;
  border: 1px solid #9abec1;
  width: 98%;
  padding-left: 5px;
  padding-right: 5px;
  white-space: normal;
  margin-top: 0;
  min-height: 44px;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.soldOut {
  opacity: 0.5;
}

.boldTitle {
  padding-top: 30px;
  font-family: monserrat, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #3d4246;
  line-height: 1.5;
}

.shortDescriptionDescription {
  padding-top: 15px;
  font-family: monserrat, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #3d4246;
  line-height: 1.5;
}

.boldCarePackageText {
  padding-top: 15px;
  padding-bottom: 10px;
  font-family: monserrat, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #3d4246;
  line-height: 1.5;
}

.packageContents {
  font-family: monserrat, Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #3d4246;
  line-height: 1.5;
}

.furtherDescription {
  padding-top: 15px;
  padding-bottom: 50px;
  font-family: monserrat, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #3d4246;
  line-height: 1.5;
}
/** ----------------------------- DESCRIPTION COMPONENT START ----------------------------- */

.descriptionContainer {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 30px 0px 30px;
}

.descriptionLeft {
  flex-basis: 50%;
}

.descTitle {
  font-family: monserrat, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #4a4a4a;
  line-height: 1.5;
}

.headerText {
  padding-top: 20px;
  font-family: monserrat, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #3d4246;
  line-height: 1.5;
}

.descriptionBullet {
  padding-top: 20px;
  font-family: monserrat, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #3d4246;
  line-height: 1.5;
}

.imageRightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
}
.imageRight {
  height: 80%;
  width: 80%;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/** ----------------------------- FAQ COMPONENT START ----------------------------- */

.faqContainer {
  display: flex;
  max-width: 1200px;
  margin: 80px auto;
  flex-direction: column;
  padding: 0px 30px 0px 30px;
}

.faqContainer {
}

.question {
  padding-top: 20px;
  font-family: monserrat, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #3d4246;
  line-height: 1.5;
}
.answer {
  font-family: monserrat, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #3d4246;
  line-height: 1.5;
}
/** ----------------------------- REVIEW COMPONENT START ----------------------------- */

.reviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.0625rem solid #d8d8d8;
  display: flex;
  max-width: 1250px;
  margin: 0 auto;
  margin-bottom: 200px;
}
.reviewHeaderContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  border-bottom: 0.0625rem solid #d8d8d8;
  margin-bottom: 30px;
  padding: 20px 0px 20px 0px;
}
.reviewWriteAndTitleContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.reviewContainerTitle {
  display: flex;
  flex-direction: row;
  font-family: monserrat, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #3d4246;
  line-height: 1.5;
}
.reviewWriteAReview {
  display: flex;
  flex-direction: row;
  font-family: monserrat, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #3d4246;
  line-height: 1.5;
  text-decoration: underline;
}
.starReviewContainer {
  display: flex;
}
.stars {
  display: flex;
}
.reviewCount {
  display: flex;
  flex-direction: row;
  font-family: monserrat, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #3d4246;
  line-height: 1.5;
  padding-left: 8px;
  padding-top: 3px;
}
.reviewSectionContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  border-bottom: 0.0625rem solid #d8d8d8;
  margin-bottom: 30px;
  padding: 20px 0px 20px 0px;
}
.reviewTitle {
  padding: 10px 0px 10px 0px;
}
.reviewContainerNameAndDate {
  padding: 10px 0px 10px 0px;
}
.reviewText {
  padding: 10px 0px 10px 0px;
}

.reportReview {
  padding: 10px 0px 10px 0px;
  text-decoration: underline;
}
/** ----------------------------- MEDIA QUERIES START ----------------------------- */

@media only screen and (max-width: 850px) {
  .productView {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;
    background: linear-gradient(180deg, #fefefe 0, #f7f7f7 100%);
    margin-bottom: 100px;
  }
  .leftViewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    border-right: 0;
  }
  .rightViewContainer {
    width: 95%;
    padding-left: 30px;
    margin-top: 50px;
  }

  .descriptionContainer {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }

  .reviewWriteAndTitleContainer {
    flex-direction: column;
  }

  .starReviewContainer {
    flex-direction: column;
  }
}
