.html {
  --colour: #234234;
  margin: 0;
}

.cardSectionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 100px;
  padding-top: 100px;
  /* margin-bottom: 50px; */
}

.cardTitleDescContainer {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  justify-content: center;
  text-align: center;
  padding-bottom: 100px;
  padding-left: 55px;
  padding-right: 55px;
  max-width: 1200px;
  margin: 0 auto;
}

.cardHeaderTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Monserrat, Arial, Helvetica, sans-serif;
  font-size: 2.625rem;
  font-weight: 700;
  color: #4a4a4a;
  margin-bottom: 20px;
}

.cardHeaderDescription {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Merriweather, Arial, Helvetica, sans-serif;

  font-size: 1.25rem;
  font-weight: 400;
  color: #69727b;
  line-height: 1.5;
}
.cardContOne {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100vw;
}
.cardContainer {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  /* min-height: 60vh; */
  /* width: auto; */
}

.sliderWindow {
  display: flex;
  background-color: #ffffff80;
  /* margin: 0 auto; */
  justify-content: center;
  /* flex-basis: auto; */
  /* align-items: center; */
  /* width: fit-content; */
  /* width: auto; */
  /* flex: 1 1 auto; */
}
.leftButtonContainerOffset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  /* margin-right: 50px; */
  position: relative;
  right: 25px;
}
.leftButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.leftButtonImage {
  display: flex;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='42' viewBox='0 0 24 42'%3E%3Cpath d='M22.4572074 1.00746147l-21 20.02482143 20.9479397 19.9751786' stroke='%23999999' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' fill='none' fill-rule='evenodd' /%3E%3C/svg%3E");
  flex-direction: column;
  align-items: center;
  height: 50px;
  padding-right: 50px;
  background-repeat: no-repeat;
}
.cardLeft {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 22%;
  /* margin-right: -10px; */
  box-sizing: border-box;
  background-color: white;
  /* order: 1; */
}

.cardUnfocused {
  z-index: -1;
}

.cardMiddle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  /* border: 1px solid blue; */
  /* order: 2; */
  width: 22%;
  /* z-index: 1; */
  /* opacity: 1; */
  background-color: white;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  /* border: 1px solid blue; */
  /* width: 22%; */
  width: 280px;
  /* margin-right: -10px; */
  box-sizing: border-box;
  background-color: white;
  /* order: 1; */
}

.cardImage {
  max-width: 100%;
  height: auto;
  padding-bottom: 50px;
}

.cardSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.cardTitle {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #4a4a4a;
  margin: 0 auto;
  line-height: 1.8125;
  letter-spacing: -0.0625rem;
  font-size: 22px;
}

.cardDescription {
  color: #69727b;
  text-align: center;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.cardButton {
  /* visibility: hidden; */
  display: flex;
  align-self: flex-start;
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-transform: uppercase;
  font-weight: 800;
  padding: 0.3125rem 0.625rem;
  margin: 0 auto 1rem;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  background-color: #5e2e91;
  color: #fefefe;
  width: auto;
  /* opacity: 0; */
  transition: opacity 0.3s ease;
}

.cardFocused {
  box-shadow: 0 20px 50px #00000080;
  /* transform: scale(1.1) translate(2%, -0.375rem); */
  transform: matrix(1.1, 0, 0, 1.1, 7.2336, -6.6);
  transition-delay: 0s;
  transition-duration: 0.35s;
  transition-property: all;
  transition-timing-function: ease;
}
.rightButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}
.rightButtonContainerOffset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  /* margin-left: 50px; */
  position: relative;
  left: 25px;
}
.rightButtonImage {
  display: flex;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='42' viewBox='0 0 24 42'%3E%3Cpath d='M1.45679 1.00746147l21 20.02482143L1.50885 41.0074615' stroke='%23999999' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' fill='none' fill-rule='evenodd' /%3E%3C/svg%3E");
  flex-direction: column;
  align-items: center;
  height: 50px;
  width: 10px;
  padding-left: 50px;
  background-repeat: no-repeat;
}
.remove {
  display: none;
}

.hide {
  opacity: 0;
}

/* ! TRY TO GET THIS TO ADJUST PROPERLY WHEN SCREEN SIZE IS 950PX 
   ! THE RELATIVE FOR CONTAINEROFFSET WORKS ABOVE, NOT BELOW*/

@media only screen and (max-width: 950px) {
  .cardSectionContainer {
    display: flex;
    flex-direction: column;
    max-width: 850px;
    padding-bottom: 100px;
    padding-top: 100px;
    /* margin-bottom: 50px; */
  }
  .cardContainer {
    display: flex;
    justify-content: center;
    max-width: 900px;
    /* min-height: 60vh; */
    /* width: auto; */
  }

  .rightButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    /* position: relative;
    right: 50px; */
    /* margin-right: 50px; */

    border: 1px solid red;
  }
  .leftButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    /* position: relative; */
    left: 250px;
    /* margin-left: 50px; */
    border: 1px solid red;
  }
  .rightButtonContainerOffset {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    position: relative;
    border: 1px solid blue;
    left: 150px; */
  }
  .leftButtonContainerOffset {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    right: 75px;
    border: 1px solid blue; */
  }
  .remove {
    display: none;
  }

  .hide {
    opacity: 0;
  }
  .sliderWindow {
    display: flex;
    background-color: #ffffff80;
    margin: 0 auto;
    justify-content: center;
    max-width: 840px;
    /* flex-basis: auto; */
    /* align-items: center; */
    /* width: fit-content; */
    /* width: auto; */
    /* flex: 1 1 auto; */
  }
}

@media only screen and (max-width: 850px) {
  .rightButtonContainer {
    display: none;
  }
  .leftButtonContainer {
    display: none;
  }
}

/*! TEMPORARILY HIDING SLIDER WINDOW */
@media only screen and (max-width: 960px) {
  .sliderWindow {
    display: none;
  }
}
