.reviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.0625rem solid #d8d8d8;
  display: flex;
  max-width: 1250px;
  margin: 0 auto;
  margin-bottom: 200px;
}
.reviewHeaderContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  border-bottom: 0.0625rem solid #d8d8d8;
  margin-bottom: 30px;
  padding: 20px 0px 20px 0px;
}
.reviewWriteAndTitleContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.reviewContainerTitle {
  display: flex;
  flex-direction: row;
  font-family: monserrat, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #3d4246;
  line-height: 1.5;
}
.reviewWriteAReview {
  display: flex;
  flex-direction: row;
  font-family: monserrat, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #3d4246;
  line-height: 1.5;
  text-decoration: underline;
}
.starReviewContainer {
  display: flex;
}
.stars {
  display: flex;
}
.reviewCount {
  display: flex;
  flex-direction: row;
  font-family: monserrat, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #3d4246;
  line-height: 1.5;
  padding-left: 8px;
  padding-top: 3px;
}
.reviewSectionContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  border-bottom: 0.0625rem solid #d8d8d8;
  margin-bottom: 30px;
  padding: 20px 0px 20px 0px;
}
.reviewTitle {
  padding: 10px 0px 10px 0px;
}
.reviewContainerNameAndDate {
  padding: 10px 0px 10px 0px;
}
.reviewText {
  padding: 10px 0px 10px 0px;
}

.reportReview {
  padding: 10px 0px 10px 0px;
  text-decoration: underline;
}

.reviewFooterContainer {
  display: flex;
  flex-direction: row;
}

.reviewFooterPagination {
  padding-right: 10px;
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}
